@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  background-color: #333;
  font-family: 'Roboto';
  font-weight: 500;
}

.App {
  text-align: center;
}

header {
  width: 100%;
  background-color: #00000070;
  padding: 20px 0;
}

header,
.nav-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  position: relative;
  left: 0;
}

.nav-menu ul {
  list-style: none;
  padding-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #DBA90D;
  padding: 10px;
  font-size: 25px;
  transition: 0.2s;
}

.nav-menu .active,
.nav-menu a:hover {
  border-bottom: solid 3px;
}

.logo-link {
  padding-left: 20px;
}

.main-container img {
  width: 100%;
}

h1 {
  color: #fff
}